/.github
/api
/dist
/node_modules
/tmp
/src/config.dev.json
/src/config.local.json
/src/config.training.json
/src/config.staging.json
/src/config.prod.json
/src/searchData
/api/src/data/config.local.json
/api/src/data/config.training.json
/api/src/data/config.dev.json
/api/src/data/config.staging.json
/api/src/data/config.prod.json
/public/assets/docs
/projects.json
/projects-summary.txt
/*.bat