# dependencies
node_modules
.history
distribution
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
config.local.json
config.dev.json
config.prod.json
config.staging.json
