# dependencies
node_modules

# testing
/coverage

# production
/dist
/tmp

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log*

.editorconfig
.prettierrc

/docs
/dist
/src/config.json
/src/searchData
/api/dist
/api/src/data/config.json
