.event-card {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
}

@media (max-width: 514px) {
  .event-card {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.event-card .event-card--title {
  -webkit-flex: 1 0 50%;
  flex: 1 0 50%;
  margin: 0px 0px 20px 0px;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
}

.event-card .event-card--date {
  -webkit-flex: 1 0 50%;
  flex: 1 0 50%;
  padding-left: 10px;
  color: var(--jade);
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75;
  text-align: right;
}

@media (max-width: 514px) {
  .event-card .event-card--date {
    padding-bottom: 10px;
    padding-left: 0;
    text-align: left;
  }
}

.event-card .event-card--description {
  -webkit-flex: 1 0 100%;
  flex: 1 0 100%;
  color: var(--body-copy);
  font-size: 16.8px;
  font-size: 1.05rem;
  line-height: 1.75;
}

.event-card .event-card--venue {
  -webkit-flex: 1 0 50%;
  flex: 1 0 50%;
}

.event-card .event-card--venue .event-card--venue-name {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}

.event-card .event-card--venue .event-card--venue-address {
  font-size: 16px;
  font-size: 1rem;
}

.event-card .event-card--actions {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 0 50%;
  flex: 1 0 50%;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

@media (max-width: 514px) {
  .event-card .event-card--actions {
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
  }
}

.event-card .event-card--actions .button {
  margin: 0;
}

.event-card .event-card--map-container {
  width: 100%;
  margin-top: 20px;
}

.event-card .event-card--map-container .event-card--map {
  height: 300px;
  margin-top: 20px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: height,border,opacity;
  transition-property: height,border,opacity;
  border: 1px solid var(--jade);
  opacity: 1;
}

.event-card .event-card--map-container .event-card--map.event-card--map__hidden {
  height: 0;
  border-color: transparent;
  opacity: 0;
}

.event-card .event-card--map-container .event-card--map .event-card--map-marker {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 10px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: var(--jade);
  color: var(--white);
  text-align: center;
}

.event-card .event-card--map-container .event-card--map .event-card--map-marker img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: none;
}
