#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #108db8;
}

code.code-inline {
  background: rgba(0,0,0,.05);
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.05);
  font-size: .8em;
  line-height: 1.5;
}

.react-syntax-highlighter-line-number {
  pointer-events: none;
}

a.simple-link {
  color: #ffffff;
}

a.simple-link:hover {
  text-decoration: none;
  color: #20a49d;
}

.search-keyword {
  background-color: yellow;
}

.erratum-text {
  color: #ce312d;
}
