// Buttons
//
// Various button styles.
//
// Markup:
// <button class="button {{modifier_class}}">Button Element</button>
// <input class="button {{modifier_class}}" type="button" value="Input Button" />
//
// :hover - When user hovers over button.
// .button--small - A small button.
// .button--large - A large button.
//
// Styleguide Components.button

.button {
  padding: 1em 2em;
  margin: .5em;
  display: inline-block;
  font-size: .9em;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #f56476;
  background-color: #fff;
  border: 2px solid #f56476;
  transition: .2s color, .2s background-color, .2s border-color;

  &:hover {
    color: #fff;
    background-color: #f56476;
  }

  &:focus {
    outline: none;
  }

  &.button--small {
    font-size: .5em;
  }

  &.button--large {
    font-size: 1.5em;
  }
}
