.cards__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $sand-grey;
  padding: 70px 90px;
}

.card {
  width: 340px;
}

.card__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-decoration: none;
   & .text {
    color: $gunmetal-grey;
  }
   &:visited {
    color: $gunmetal-grey;
  }
}

.card__image {
  width: 340px;
  height: 260px;
}

.card__wrapper {
  width: 100%;
  display: flex;
}

.card__label {
  padding: 24px;
  width: 100%;
  margin: 0;
  background-color: $white;
  line-height: 1;
  text-align: left;
}
