h1 {
  .text {
    font-size: 40px;
  }
}

h2 {
  .text {
    font-size: 36px;
  }
}

h3 {
  .text {
    font-size: 32px;
  }
}

h4 {
  .text {
    font-size: 25px;
  }
}

h5 {
  .text {
    font-size: 20px;
  }
}

h6 {
  .text {
    font-size: 16px;
  }
}

.heading {
  .text {
    color: #f56476
  }
}
